
/* define logo layout */

/* define logo dimensions */
.gdbar img {
  width: 300px !important;
  height: 50px !important;
  margin: 8px 8px;
}

/* define logo position */
.gdbar {
  width: 500px !important;
  height: 100px !important;
}

/* define two-column layouts */

.column_left_50 {
  float: left;
  width: 49%;
  text-align: left;
}

.column_right_50 {
  float: right;
  width: 49%;
  text-align: left;
}

.column_left_40 {
  float: left;
  width: 40%;
  text-align: left;
}

.column_right_60 {
  float: right;
  width: 59%;
  text-align: left;
}

.column_left_60 {
  float: left;
  width: 60%;
  text-align: left;
}

.column_right_40 {
  float: right;
  width: 40%;
  text-align: left;
}

